<footer class="footer">
    <div class="container-fluid">
        <div class="footer__content">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="footer__content__logo-wrapper">
                        <img src="images/logo-footer.png" alt="Айсберг" class="footer__content__logo__img">
                        <div class="footer__content__logo__call">
                            <img src="images/icons/phone-call.svg" alt="+7 (4912) 50-50-16" class="footer__content__logo__call__img">
                            <span>+7 (4912) 50-50-16 <span class="footer__content__logo__call__text">(доб. 1003) - Администратор</span></span>
                        </div>
                        <div class="footer__content__logo__call">
                            <img src="images/icons/Vector-5.svg" alt="Рязань, ул. Шевченко, 51" class="footer__content__logo__call__img">
                            <span class="footer__content__logo__call__text">Рязань, ул. Шевченко, 51</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer__content__info-wrapper">
                        <ul class="footer__content__info">
                            <li class="footer__content__info__item">Официальный сайт РАА «РУСАДА» </li>
                            <li class="footer__content__info__item">Образовательный антидопинговый онлайн-ресурс</li>
                            <li class="footer__content__info__item">Официальный сервис по проверке препаратов</li>
                            <li class="footer__content__info__item">Система ADAMS</li>
                            <li class="footer__content__info__item">Информация о дисквалификации</li>
                        </ul>
                    </div>
                </div>
                <div class="lo-lg-4">
                    <div class="footer__content__social-wrapper">
                        <div class="footer__content__social">
                            <img src="images/icons/instagram-1.svg" alt="instagram" class="footer__content__social__img">
                            <img src="images/icons/vk-1.svg" alt="vk" class="footer__content__social__img">
                        </div>
                        <!-- counter -->
                        <div class="footer__content__social__counter">
                            <img src="images/image-5.png" alt="">

                        </div>
                        <div class="footer__content__social__info">
                            <img src="images/icons/logo-1.svg" alt="" class="footer__content__social__info__img">
                            <span class="footer__content__social__info__text">Создание сайта — студия «Галактика»</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>