.header{
   background-color: #fff;
   
   &__contacts-wrapper{
    max-width: 1240px;
    margin: 0 auto;
    padding: 1.375rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}

.header__contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    width: 100%;

    &__contacts__search{
        margin-right: 0.625rem;
    }

    &__search__form__input-wrapper{
        width: 279px;
        display: flex;
        align-items: center;
        height: 33px;
        padding: 0 0.625rem;
        border: 1px solid #005481;
        box-sizing: border-box;
        border-radius: 2.1875rem;
    }
}


.header__contacts__search__form__input{
    width: 95%;
    padding: 0.375rem 0;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    &::placeholder{
        color: $blue;
    }
    color: $blue;
    border: none;
    &:focus > &::placeholder{
        color: #000;
    }
    
}
.header__contacts__search__form__btn{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .header__contacts__search__form__btn:focus{
        border: none;
        outline: none;
    }
}
.header__contacts__tel__block{
    display: flex;
    align-items: center;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}
.header__contacts__tel__img-wrapper{
    width: 27px;
    height: 27px;
    margin-right: 14px;
}
.header__contacts__tel{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: $blue;
    text-decoration: none;

}
.header__contacts__tel__text-blue{
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: $blue;
    font-weight: 600;
}
.header__contacts__tel__text{
    color: $gray;
    font-weight: normal;
}
.header__contacts__location{
    display: flex;
    align-items: center;
    margin-right: 0.625rem;

    &__text{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: $blue;
       padding-left: 11px;
    }
}
.header__contacts__social-network{
    display: flex;
    align-items: center;
    svg{
        margin-right: 10px;

    }
}
.logo__block{
    position: relative;
    width: 100%;
    background: url(../images/header.png) no-repeat center center;
    background-size: cover;

    &__wrapper{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 1240px;
        margin: 0 auto;
        padding-top: 28px;
        padding-bottom: 34px;
    }

}
.menu__block{
    background-color: $blue!important;
}
.menu__wrapper{
    max-width: 1240px;
    margin: 0 auto;
    
}
.bg-blue{
    background-color: $blue!important;
}
.menu__navbar{
    padding: 0;
}
.menu__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    padding-top: 0.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 0.375rem!important;
    padding-right: 0.375rem!important;
    color: #fff!important;

} 
.menu__item{
    padding-left: 	0.625rem;
    padding-right: 	0.625rem;
}
.menu__item:first-child{
   padding-left: 0!important;
}
.menu__item:last-child{
    padding-right: 0 !important;
}
.menu__navbar .navbar-nav.menu__item .menu__link .active{
    background-color: $darkBlue !important;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    background-color: $darkBlue !important;
}
.header__contacts__social-network__link svg:hover{
    fill: #005481;
}
.eye svg:hover{
    fill: #000;
}
.menu__link:hover {
    background-color: $darkBlue;
}
.navbar-brand{
    display: none;
}