//MEDIA: 1679
@media screen and (max-width: 1679px) {}

//!MEDIA: 1679

//MEDIA: 1439
@media screen and (max-width: 1439px) {}

//!MEDIA: 1439

//MEDIA: 1365
@media screen and (max-width: 1365px) {}

//!MEDIA: 1365

//MEDIA: 1359
@media screen and (max-width: 1359px) {
    .footer__content__social{
        justify-content: center;
    }
    .footer__content__social-wrapper{
        text-align: center;
    }
}
@media screen and (max-width: 1250px) {
    .logo__block__wrapper__item__img-1{
        width: 400px;
    }
    .logo__block__wrapper__item__img-3{
        width: 316px;
    }
    .logo__block__wrapper__item__img-2{
        width: 300px;
    }
    .menu__item {
        padding-left: 8px;
        padding-right: 8px;
    }
    .menu__link {
        font-size: 16px;
    }
    .header__contacts-wrapper{
        padding: 0 20px;
    }
    .partners__slider__prev{
        left: -5px;
    }
}

//!MEDIA: 1359

//MEDIA: 1199

@media screen and (max-width: 1199px) {
    .navbar-brand{
        display: block;
        padding-left: 20px;
        font-weight: 600;
    }
    .menu__item {
        padding-left: .625rem;
        padding-right: .625rem;
    }
    .menu__item:first-child {
        padding-left: .625rem!important;
    }
    .partners__slider__prev{
        left: -25px;
    }
    .useful__links-wrapper{
        margin-left: 0;
        margin-top: 30px;
    }
    .info__item {
        padding: 3rem 1rem 2.75rem;
        width: 240px;
        
    
    }
    .slider .slick-prev {
        left: 30px;
    }
    .slider .slick-next {
        right: 30px;
    }

}
//!MEDIA: 1199
@media screen and (max-width: 1100px) {
    .logo__block__wrapper__item__img-1{
        width: 350px;
    }
    .logo__block__wrapper__item__img-3{
        width: 266px;
    }
    .logo__block__wrapper__item__img-2{
        width: 300px;
    }
}
//MEDIA: 1023
@media screen and (max-width: 1023px) {} 
//MEDIA: 991
@media screen and (max-width: 991px) {

    .logo__block__wrapper__item__img-1{
        width: 300px;
    }
    .logo__block__wrapper__item__img-3{
        width: 216px;
    }
    .logo__block__wrapper__item__img-2{
        width: 250px;
    }
    .info__item {
        padding: 3rem 1.4375rem 2.75rem;
        width: 100%;
        margin: 0 auto 30px auto;
    
    }
    .header__contacts-wrapper{
        align-items: flex-start;
        padding: 30px ;
    }
    .header__contacts{
        // flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .header__contacts__tel__block{
        padding: 20px 0;
    }
    .logo__block__wrapper{
        padding:  30px;
    }
    .announcements-block{
        max-width: 100%;
        margin-top: 30px;
    }
.footer__content__info-wrapper{
    margin-bottom: 20px;
    margin-left: 0;
}
.footer__content__info{
    padding-inline-start: 30px;
}
.footer__content__social__info{
    margin-left: 20px;
}
.info__item__text{
    margin: 1.9375rem auto .625rem auto;
}
.info__wrapper {
    padding-top: 3rem;
    padding-bottom: 2.125rem;
    background: url(../images/g11951.png) 0 0/cover no-repeat;
}
.news-wrapper {
    padding: 3rem 0;
    background-color: #fff;
}
.partners__slider__prev{
    left: 0px;
}
.partners__slider__next{
    right: 0px;
}
.slick-dots {
    bottom: 23px;
}
.header__contacts__location{
    margin-right: 20px;
}
.slider .slick-prev {
    width: 31px;
    height: 41px;
    &:hover{
        width: 31px;
    height: 41px;
    background-size: contain;
    }
}
.slider .slick-next {
    width: 31px;
    height: 41px;
    &:hover{
        width: 31px;
    height: 41px;
    background-size: contain;
    }
}
}
//!MEDIA: 991
@media screen and (max-width: 830px) { 
    .logo__block__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo__block__wrapper__item{
        margin-top: 20px;
        &:first-child{
            margin-top: 0;
        }
        
    }

}
//MEDIA: 767
@media screen and (max-width: 767px) { 
    .news__item__date{
        margin-right: 20px;
    }
    .news__item__img__wrapper{
        margin-right: 18px;
    }
 }

//!MEDIA: 767

//MEDIA: 639
@media screen and (max-width: 639px) {
    .announcements__img__wrapper{
        margin: 0 auto;
    }
    .news__item{
        flex-wrap: wrap;
        justify-content: center;
    }
    .news__item__img__wrapper{
        margin-bottom: 20px;
    }
 }

//!MEDIA: 639

//MEDIA: 369
@media screen and (max-width: 480px) { 
    .logo__block__wrapper__item__img-2{
        width: 200px;
    }
    .footer__content__logo__img {
        width: 200px;
        
    }
    .header__contacts{
        margin-right: 10px;
    }
    .slick-dots {
        bottom: -33px;
    }
}
@media screen and (max-width: 380px) { }
@media screen and (max-width: 369px) {}

//!MEDIA: 369 