.news-wrapper{
    padding: 4.75rem 0;
    background-color: #fff;
}
.news-block{
    max-width: 1240px;
    margin: 0 auto;
}
.news{
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        text-transform: capitalize;
        
        color: #000000;
        width: 100%;
        display: block;
        border-bottom: 1px solid #C4C4C4;

    }
    &__btn{
        margin-top: 30px;
        width: 152px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid $blue;
        box-sizing: border-box;
        border-radius: 35px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */
        
        
        color: $blue;
        &__link{
            color: $blue;
        }
    }
}
.news__item{
    display: flex;
    align-items: flex-start;
    margin-top: 2.75rem;
    &__date{
        text-align: center;
        width: 63px;
        margin-right: 38px;

        &__number{
            margin-bottom: 5px;
            font-style: italic;
            font-weight: 900;
            font-size: 30px;
            line-height: 38px;
            
            text-transform: capitalize;
            
            color: #FFFFFF;
            
            width: 63px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url(../images/Rectangle-146.svg) no-repeat;
            background-size: cover;

        }
        &__month{
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            
            text-transform: lowercase;
            
            color: #818181;
        }
        
        
    }
}
.news__item:hover .news__item__date__number{
    background: url(../images/Rectangle-146-hov.svg);
}
.news__item:hover .news__item__text__wrapper__title__link{
    color: $darkBlue;
    text-decoration: none;
}
.news__item__img__wrapper{
    width: 118px;
    height: 80px;
    margin-right: 28px;
    &__img{
       
    }
}
.news__item__text__wrapper{
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        text-transform: capitalize;
        
        color: #0082C8;
        &__link{color: #0082C8;
        }

    }
    &__text{
        margin-top: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        
        color: $gray;
        }
}
.announcements-block{
    max-width: 280px;

}
.announcements__title{
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;
    display: block;
    color: #000000;
    border-bottom: 1px solid #C4C4C4;;
    
    
}
.announcements{
    background: #F9F9F9;
    box-shadow: 0px 2px 10px #E5E5E5;
    border-radius: 3px;
    margin-top: 3.375rem;

}
.announcements__inf0-wrapper{
    padding: 1rem 0.8125rem 0.8125rem 1.375rem;
}
.announcements__text{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    
    color: #000000;
    

}
.announcements__info{
    margin-top: 30px;
    &__date{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 133.55%;
        
        color: #0082C8;
    }
    &__date__text{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
        color: $gray;}
}
.announcements__btn{
    margin-top: 30px;
    width: 152px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    
    color: #818181;
    
    &__link{color: #818181;}

}