.slider__wrapper{
    
    position: relative;
}
.slider{
    position: relative;
    max-height: 794px;

}
.slider__item{
 
}
.slider .slick-prev{
position: absolute;
z-index: 99;
top: 50%;
left: 350px;
transform: translateY(-50%);
border: none;
background: url(../images/arrow-pre.svg) no-repeat;
background-size: contain;
width: 41px;
height: 71px;
&:hover{
    background: url(../images/slider-arrow-hov.svg) no-repeat;
    transform: rotateY(-180deg) translateY(-50%);
}
}
.slider .slick-next{
    position: absolute;
    z-index: 99;
    top: 50%;
    right: 300px;
    transform: translateY(-50%);
    border: none;
    background: url(../images/arrow-next.svg) no-repeat;
    background-size: contain;
    width: 41px;
    height: 71px;

    &:hover{
        background: url(../images/slider-arrow-hov.svg) no-repeat;
       
    }
    }

.slider__item img{
    width: 100%;
}