.slider__wrapper{
    
    position: relative;
}
.slider{
    position: relative;
    max-height: 794px;

}
.slider__item{
 
}
.slider .slick-prev{
position: absolute;
z-index: 99;
top: 50%;
left: 300px;
transform: translateY(-50%);
border: none;
background-color: transparent;
}
.slider .slick-next{
    position: absolute;
    z-index: 99;
    top: 50%;
    right: 300px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    }

.slider__wrapper .slick-dots{
    
}    